/**
 * @file
 *
 * Bear Starter Theme Main Styling
 *
 * Adds basic bear styles for starter theme.
 *
 */
/***********
~IMPORTS
***********/
div.krumo-root {
  z-index: 112 !important;
}

/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/* Warm grey von Natascha, war #d1d3d2 */
/* Dunkelgrau von Natascha */
/* Rot von Natascha */
/* Light warm grey von Natascha */
/* Schriftfarbe von Natascha */
/***********
~BREAKPOINTS
***********/
/***********
~MIXINS
***********/
/***********
~SPRITES
***********/
.sprite-sprite {
  background: url('../images/sprite-s56ceb37b41.png') no-repeat;
}

/***********
~GENERIC
***********/
body {
  color: #1a1a1a;
  font-weight: 400;
}
body a {
  color: #c61c2c;
  text-decoration: none;
}
body a:hover {
  color: #443C45;
  text-decoration: underline;
}
body a:visited {
  color: #c61c2c;
}

html, body, button, input, select, textarea {
  /*@include bearfont-main;*/
}

h1, h2, h3, h5 {
  /*@include bearfont-titles;*/
  font-weight: 300;
}

h4 {
  font-weight: 500;
}

.node-type-page h3 {
  clear: both;
}
.node-type-page img {
  margin-bottom: 1em;
}

strong, b, bold {
  font-weight: 500;
}

#main {
  clear: both;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#page {
  min-width: 300px;
}

#navigation {
  width: 100%;
  /*padding: 0 0 15px 0;*/
}

@media (min-width: 1024px) {
  #logo {
    padding: 0 1em;
  }
}
#logo img {
  margin-right: 0;
}

@media (max-width: 320px) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
  }
  ul.primary li a, ul.secondary li a {
    width: 88%;
  }
}
/***********
~STRUCTURE
***********/
h1 {
  font-size: 160%;
}

.breadcrumb {
  margin: 20px 0;
}

/***********
~HEADER
***********/
.region-header {
  clear: none;
}

.wrapper.header #header {
  padding: 25px 0;
  position: relative;
}
.wrapper.header #header #bear-user-menu {
  float: right;
  margin: 0;
}
@media (max-width: 768px) {
  .wrapper.header #header #bear-user-menu {
    float: none;
    text-align: center;
    margin: 0;
  }
}
.wrapper.header #header #bear-user-menu ul {
  margin: 20px 0 0 0;
  padding: 0;
}
.wrapper.header #header #bear-user-menu ul li {
  display: inline;
  list-style-type: none;
  margin: 0 0 0 10px;
}
.wrapper.header #header #bear-user-menu ul li a {
  font-size: 90%;
  padding: 0.2em 1.1em 0.3em 1.2em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF777777', endColorstr='#FF444444');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(70%, #666666));
  background: -webkit-linear-gradient(#777777, #666666 70%);
  background: -moz-linear-gradient(#777777, #666666 70%);
  background: -o-linear-gradient(#777777, #666666 70%);
  background: linear-gradient(#777777, #666666 70%);
  -webkit-box-shadow: #9d9d9d 0 1px 0 inset;
  -moz-box-shadow: #9d9d9d 0 1px 0 inset;
  box-shadow: #9d9d9d 0 1px 0 inset;
  border: 1px solid #595959;
  color: white;
  text-shadow: #363636 0 -1px 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wrapper.header #header #bear-user-menu ul li a:hover {
  text-decoration: none;
}
.wrapper.header #header #bear-user-menu ul li a:hover {
  background-color: #595959;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #6a6a6a), color-stop(75%, #595959));
  background: -webkit-linear-gradient(#6a6a6a 3%, #595959 75%);
  background: -moz-linear-gradient(#6a6a6a 3%, #595959 75%);
  background: -o-linear-gradient(#6a6a6a 3%, #595959 75%);
  background: linear-gradient(#6a6a6a 3%, #595959 75%);
}
.wrapper.header #header #bear-user-menu ul li a:active {
  -webkit-box-shadow: #525252 0 1px 2px inset;
  -moz-box-shadow: #525252 0 1px 2px inset;
  box-shadow: #525252 0 1px 2px inset;
}
.wrapper.header #header #bear-user-menu ul li a.disabled, .wrapper.header #header #bear-user-menu ul li a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #666666;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.wrapper.header #header #bear-user-menu ul li a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

h1#site-name {
  font-size: 2em;
  line-height: .5em;
  margin: 70px 0 0 25px;
}
h1#site-name a:link, h1#site-name a:visited {
  color: #ffffff;
}

#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 60px 0 0 0;
}
@media (max-width: 768px) {
  #block-search-form {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
}
#block-search-form input.form-text {
  border: none;
  border-right: 1px solid #CCCCCC;
  width: 150px;
}
#block-search-form input.form-text:focus {
  box-shadow: none;
  moz-box-shadow: none;
}
#block-search-form input.form-submit {
  text-indent: -9999px;
  background: white url(../images/search.png) no-repeat center center;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  filter: none;
  padding: 5px 15px;
  width: 40px;
  height: 28px;
  text-shadow: none;
  margin: 0;
}

@media (max-width: 768px) {
  .wrapper.header #header {
    text-align: center;
    padding: 0;
  }
  .wrapper.header #header #logo {
    float: none;
    clear: both;
    display: block;
    padding: 0;
  }
  .wrapper.header #header #name-and-slogan {
    float: none;
  }
  .wrapper.header #header #name-and-slogan h1 {
    margin: 10px 0;
  }
}
/***********
~SIDEBARS
***********/
aside.sidebars .sidebar {
  padding: 5px 0 20px 0;
}
aside.sidebars .sidebar h2 {
  background: #eff2f1;
  text-indent: 10px;
  margin: 0 0 10px 0;
  font-size: 110%;
}
@media (max-width: 1000px) {
  aside.sidebars .sidebar {
    padding-left: auto;
  }
}

/***********
~FOOTER
***********/
@media (max-width: 1280px) {
  .wrapper.footer #footer {
    padding-left: 0 20px;
    padding-right: 0 20px;
  }
}

@media (max-width: 768px) {
  #footer {
    text-align: center;
  }

  ul.social-footer {
    margin-top: -10px;
  }
  ul.social-footer li {
    display: inline-block;
    float: none;
  }
}
/* BEARSKIN site Documentation page fun */
#documentation p.tb {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 24.25%;
  margin-left: 0%;
  margin-right: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #DDDDDD;
  padding: 20px;
}
#documentation p.tb:before, #documentation p.tb:after {
  content: '';
  display: table;
}
#documentation p.tb:after {
  clear: both;
}
#documentation p.tb:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
#documentation p.tb:nth-child(4n + 1) {
  clear: both;
}
