div.krumo-root {
  z-index: 112 !important;
}

/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/* Warm grey von Natascha, war #d1d3d2 */
/* Dunkelgrau von Natascha */
/* Rot von Natascha */
/* Light warm grey von Natascha */
/* Schriftfarbe von Natascha */
/***********
~BREAKPOINTS
***********/
#navigation .block-menu:after, #navigation .menu-block-wrapper > ul:after {
  content: "";
  display: table;
  clear: both;
}

body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}

#navigation .block-menu, #navigation .menu-block-wrapper {
  font: 600 1em "HelveticaNeueW01-45Ligh", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}
#navigation .block-menu *, #navigation .menu-block-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation .block-menu ul, #navigation .menu-block-wrapper ul {
  margin: 33px 0 0 2em;
  padding: 0;
  list-style: none;
  /*@include border-radius(3px);*/
}
#navigation .block-menu li, #navigation .menu-block-wrapper li {
  position: relative;
}
#navigation .block-menu li:hover, #navigation .menu-block-wrapper li:hover {
  border-right-color: transparent;
  /*@include box-shadow(0 1px 0 rgba(255, 255, 255, .2) inset);*/
}
#navigation .block-menu li:hover > ul, #navigation .menu-block-wrapper li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
#navigation .block-menu li:hover > a, #navigation .menu-block-wrapper li:hover > a {
  color: #c61c2c;
  background: transparent;
}
#navigation .block-menu input[type=checkbox], #navigation .menu-block-wrapper input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#navigation .block-menu label, #navigation .menu-block-wrapper label {
  display: none;
  cursor: pointer;
  user-select: none;
}

#navigation .block-menu, #navigation .menu-block-wrapper > ul {
  border: 0;
  background-color: transparent;
  background-image: none;
  /*@include box-shadow(0 1px 0 rgba(255, 255, 255, .2) inset);*/
}
#navigation .block-menu > li, #navigation .menu-block-wrapper > ul > li {
  float: left;
  border-right: 0px solid;
  /*@include box-shadow(1px 0 0 lighten($baseMenuBackground, 20%));*/
}
#navigation .block-menu > li > a, #navigation .menu-block-wrapper > ul > li > a {
  float: left;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
#navigation .block-menu > li > a:hover, #navigation .menu-block-wrapper > ul > li > a:hover {
  color: #c61c2c;
  background: transparent;
  border-bottom: 4px solid #c61c2c;
  /*-moz-box-shadow: inset 0 0 5px #666;
  -webkit-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 10px #666;*/
}
#navigation .block-menu > li > a.active, #navigation .menu-block-wrapper > ul > li > a.active {
  color: #1a1a1a;
  background: transparent;
  border-bottom: 4px solid #c61c2c;
  /*-moz-box-shadow: inset 0 0 5px #666;
  -webkit-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 10px #666;*/
}
#navigation .block-menu a, #navigation .menu-block-wrapper > ul a {
  color: #1a1a1a;
  text-decoration: none;
  /*text-shadow: 0 -1px 0 #585858;*/
}
#navigation .block-menu ul, #navigation .menu-block-wrapper > ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10000;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  margin: 2em 0 0 0;
  background: rgba(255, 255, 255, 0.9);
  /*@include menu-background(lighten($baseMenuBackground, 15%), false);*/
  -webkit-transition-property: margin, opacity;
  -moz-transition-property: margin, opacity;
  -o-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#navigation .block-menu ul:hover, #navigation .menu-block-wrapper > ul ul:hover {
  border-top: 4px solid #c61c2c;
}
#navigation .block-menu ul li, #navigation .menu-block-wrapper > ul ul li {
  display: block;
  width: 100%;
  /*@include box-shadow(0 1px 0 lighten($baseMenuBackground, 5%),
            0 2px 0 lighten($baseMenuBackground, 25%));*/
}
#navigation .block-menu ul li:first-child > a, #navigation .menu-block-wrapper > ul ul li:first-child > a {
  /*@include border-radius(3px 3px 0 0);
  @include pseudo-triangle(6px, 4);*/
}
#navigation .block-menu ul li:last-child, #navigation .menu-block-wrapper > ul ul li:last-child {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#navigation .block-menu ul li:last-child > a, #navigation .menu-block-wrapper > ul ul li:last-child > a {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
#navigation .block-menu ul a, #navigation .menu-block-wrapper > ul ul a {
  padding: 1em;
  width: 100%;
  display: block;
  /*border-color: lighten($baseMenuBackground, 15%);*/
}
#navigation .block-menu ul a:hover, #navigation .menu-block-wrapper > ul ul a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 800px) {
  #navigation .block-menu > ul, #navigation .menu-block-wrapper > ul, #navigation .block-menu > ul ul, #navigation .menu-block-wrapper > ul ul {
    visibility: visible;
    opacity: 1;
    display: none;
  }

  #navigation .block-menu input[type=checkbox]:checked ~ label,
  #navigation .block-menu input[type=checkbox] ~ label:hover, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ label,
  #navigation .menu-block-wrapper input[type=checkbox] ~ label:hover {
    color: #e6e6e6;
  }
  #navigation .block-menu label, #navigation .menu-block-wrapper label {
    /*border: 1px solid darken($baseMenuBackground, 5%);*/
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #1a1a1a;
    text-shadow: 0 1px 0 transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 1em 3em;
  }
  #navigation .block-menu label:before, #navigation .menu-block-wrapper label:before {
    position: absolute;
    left: 0.5em;
    top: 0.2em;
    content: "\2261";
    font-size: 2em;
  }
  #navigation .block-menu > ul, #navigation .menu-block-wrapper > ul {
    position: relative;
    border-color: transparent;
    margin: 0.5em 0 !important;
    padding: 0.25em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
  }
  #navigation .block-menu > ul:after, #navigation .menu-block-wrapper > ul:after {
    content: '';
    position: absolute;
    left: 2em;
    top: -12px;
    border: 6px solid transparent;
    border-bottom-color: inherit;
  }
  #navigation .block-menu > ul li, #navigation .menu-block-wrapper > ul li {
    display: block;
    clear: both;
    width: 100%;
    text-align: left;
  }
  #navigation .block-menu > ul li.expanded.active, #navigation .menu-block-wrapper > ul li.expanded.active {
    background: #666;
    float: left;
    width: 100%;
  }
  #navigation .block-menu > ul li li, #navigation .menu-block-wrapper > ul li li {
    clear: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  #navigation .block-menu > ul li li:hover, #navigation .menu-block-wrapper > ul li li:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  #navigation .block-menu > ul li li a, #navigation .menu-block-wrapper > ul li li a {
    color: #CCC;
  }
  #navigation .block-menu > ul li li a:hover, #navigation .menu-block-wrapper > ul li li a:hover {
    background: transparent;
    color: white;
  }
  #navigation .block-menu > ul > li, #navigation .menu-block-wrapper > ul > li {
    float: none;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
  }
  #navigation .block-menu > ul > li > a, #navigation .menu-block-wrapper > ul > li > a {
    float: none;
    display: block;
    padding: 1em;
  }
  #navigation .block-menu > ul ul, #navigation .menu-block-wrapper > ul ul {
    position: static;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    /*@include menu-background(lighten($baseMenuBackground, 10%), false);*/
    margin: 0;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
  #navigation .block-menu > ul ul li:first-child > a, #navigation .menu-block-wrapper > ul ul li:first-child > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  #navigation .block-menu > ul ul li:first-child > a:after, #navigation .menu-block-wrapper > ul ul li:first-child > a:after {
    content: none;
  }
  #navigation .block-menu > ul ul li:last-child > a, #navigation .menu-block-wrapper > ul ul li:last-child > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  #navigation .block-menu > ul ul a, #navigation .menu-block-wrapper > ul ul a {
    padding-left: 2em;
    display: block;
    width: auto;
  }
  #navigation .block-menu input[type=checkbox]:checked ~ ul, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ ul {
    display: block;
  }
  #navigation .block-menu input[type=checkbox]:checked ~ ul ul, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ ul ul {
    display: block;
  }
}
