/**
 * @file
 * Block Styling
 */
div.krumo-root {
  z-index: 112 !important;
}

/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/* Warm grey von Natascha, war #d1d3d2 */
/* Dunkelgrau von Natascha */
/* Rot von Natascha */
/* Light warm grey von Natascha */
/* Schriftfarbe von Natascha */
/***********
~BREAKPOINTS
***********/
/***********
~MIXINS
***********/
/***********
~SPRITES
***********/
.sprite-sprite {
  background: url('../images/sprite-s56ceb37b41.png') no-repeat;
}

#block-block-1 {
  padding: 20px 0;
}
