/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
div.krumo-root {
  z-index: 112 !important;
}

/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/* Warm grey von Natascha, war #d1d3d2 */
/* Dunkelgrau von Natascha */
/* Rot von Natascha */
/* Light warm grey von Natascha */
/* Schriftfarbe von Natascha */
/***********
~BREAKPOINTS
***********/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Print Module CSS */
html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 11pt;
  width: 100%;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif;
  /*font-family: $helvetica-neue;*/
}

th {
  text-align: left;
  /* LTR */
  color: #006;
  border-bottom: 1px solid #cbc1ba;
}

tr.odd {
  background-color: #ddd;
}

tr.even {
  background-color: #fff;
}

td {
  padding: 5px;
}

#menu {
  visibility: hidden;
}

#main {
  margin: 1em;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #00f;
}

a:link img, a:visited img {
  border: 0;
}

.print-footnote {
  font-size: xx-small;
}

img.print-logo {
  border: 0;
}

.print-breadcrumb {
  font-size: x-small;
}

.print-submitted {
  font-size: small;
}

.print-created {
  font-size: small;
}

.print-taxonomy {
  text-align: right;
}

.print-taxonomy li {
  display: inline;
}

hr, .print-hr {
  border: 0;
  height: 0px;
  width: 100%;
  color: #fff;
  background-color: #fff;
}

.print-message {
  border: medium dotted blue;
  padding: 1em;
}

.print-source_url {
  font-size: small;
}

.print-links {
  font-size: small;
}

.print-footer {
  text-align: center;
}

/* Custom Print PDF Styles */
@page {
  size: A4 portrait;
  margin: 0;
  @top-right {
    content: "030.7808 7080";
}

  @bottom-left {}
}

.not-front #main {
  margin: 200px 0 !important;
}

.views-field-title {
  border-bottom: 2px solid #c61c2c;
  margin-bottom: 1.5em;
  padding-bottom: 5px;
}

h2.page-title, h1.page-title {
  font-weight: 300;
  font-size: 1.5em;
  width: 64%;
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

#logo {
  width: 165px;
  height: 90px;
  margin-left: -20px;
}

.views-field {
  float: none;
  width: 100%;
  page-break-inside: avoid;
  position: relative;
}

.views-field-field-address {
  float: none;
  width: 35%;
  margin: 0;
  position: absolute;
  display: inline;
  right: 0;
  text-align: right;
  margin-top: -55px;
  color: #91988e;
  font-weight: 300;
}

.street-block,
.locality-block,
.thoroughfare {
  display: inline;
}

.locality-block:before {
  content: ", ";
  display: inline;
}

.views-field-field-apart-floor-plan {
  width: 63%;
  margin-right: 2%;
  float: left;
}

.views-field-field-apart-floor-plan .field-content,
.views-field-field-object-images .field-content {
  display: block;
  position: relative;
  overflow: hidden;
  page-break-inside: avoid;
}
.views-field-field-apart-floor-plan .field-content img,
.views-field-field-object-images .field-content img {
  margin-bottom: 1cm;
  display: block;
  page-break-inside: avoid;
  width: 100%;
  height: auto;
}

.views-field-field-apart-no,
.details,
.ausstattung-label {
  color: #cbc1ba;
  font-size: 1.3em;
}

.details {
  margin-top: 1em;
  float: right;
  width: 35%;
}

.ausstattung-label {
  margin-top: 1em;
  display: block;
}

.views-field-field-apart-living-space {
  padding: .5em .3em 1.5em .3em;
  display: table-cell;
  position: relative;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  border: 2px solid #cbc1ba;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 35%;
}
.views-field-field-apart-living-space .views-label {
  color: #cbc1ba;
  font-size: 11pt;
  font-weight: normal;
  bottom: 5px;
}

.views-field-field-apart-rooms {
  padding: .5em 1em 1.5em 1em;
  display: table-cell;
  position: relative;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  border-top: 2px solid #cbc1ba;
  border-bottom: 2px solid #cbc1ba;
  width: 15%;
}
.views-field-field-apart-rooms .views-label {
  color: #cbc1ba;
  font-size: 11pt;
  font-weight: normal;
  bottom: 5px;
  margin-left: -22%;
}

.views-field-field-apart-price {
  padding: .5em .3em 1.5em .3em;
  display: table-cell;
  position: relative;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  border: 2px solid #cbc1ba;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50%;
}
.views-field-field-apart-price .views-label {
  color: #cbc1ba;
  font-size: 11pt;
  font-weight: normal;
  bottom: 5px;
}

.apartmerkmale {
  border: 2px solid #cbc1ba;
  overflow: hidden;
  float: right;
  width: 35%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.apartmerkmale > div {
  padding: 0.2em 0.5em;
  float: left;
}
.apartmerkmale > div:nth-of-type(2n+1) {
  background: #e3e5e3;
}
.apartmerkmale .views-label {
  color: #4b4b4b;
  float: left;
  width: 50%;
}
.apartmerkmale .field-content {
  color: #1a1a1a;
  float: left;
  width: 50%;
  font-weight: 500;
}

.ausstattung {
  float: right;
  clear: right;
  width: 35%;
}
.ausstattung ul {
  margin-top: .2em;
  margin-left: 0;
  padding: 0;
}
.ausstattung ul li {
  list-style: none;
  background: url(../images/Icon_Check.png) -10px 50% no-repeat;
  padding: .25em 0 .25em 30px;
  margin: 0;
}

.views-field-field-apart-description {
  float: none;
  clear: both;
}

#leaflet-map {
  position: static;
  page-break-inside: avoid;
}

.mapcontainer {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.leaflet-control-container .leaflet-top {
  display: none;
}
.leaflet-control-container .leaflet-bottom {
  bottom: 0;
}

/*  .leaflet-map-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-pane, .leaflet-tile-container, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-marker-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}*/
.leaflet-map-pane {
  /* -webkit-transform: translate(1px, 0px) !important;*/
  transform: none !important;
  left: 1px;
  top: 0;
}

img {
  border: 0;
}

.pagebreak {
  page-break-before: always;
}
