/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
div.krumo-root {
  z-index: 112 !important;
}

/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/* Warm grey von Natascha, war #d1d3d2 */
/* Dunkelgrau von Natascha */
/* Rot von Natascha */
/* Light warm grey von Natascha */
/* Schriftfarbe von Natascha */
/***********
~BREAKPOINTS
***********/
/* Print Module CSS */
body {
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 100%;
  width: 100%;
  line-height: 1.6;
}

th {
  text-align: left;
  /* LTR */
  color: #006;
  border-bottom: 1px solid #cbc1ba;
}

tr.odd {
  background-color: #ddd;
}

tr.even {
  background-color: #fff;
}

td {
  padding: 5px;
}

#menu {
  visibility: hidden;
}

#main {
  margin: 1em;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #00f;
}

a:link img, a:visited img {
  border: 0;
}

.print-footnote {
  font-size: xx-small;
}

img.print-logo {
  border: 0;
}

.print-breadcrumb {
  font-size: x-small;
}

.print-submitted {
  font-size: small;
}

.print-created {
  font-size: small;
}

.print-taxonomy {
  text-align: right;
}

.print-taxonomy li {
  display: inline;
}

hr, .print-hr {
  border: 0;
  height: 0px;
  width: 100%;
  color: #fff;
  background-color: #fff;
}

.print-message {
  border: medium dotted blue;
  padding: 1em;
}

.print-source_url {
  font-size: small;
}

.print-links {
  font-size: small;
}

.print-footer {
  text-align: center;
}

/* Custom Print PDF Styles */
@page {
  size: A4 portrait;
  margin: 0;
  @top-right {
    content: "030.7808 7080";
}

  @bottom-left {}
}

h2.page-title, h1.page-title {
  border-bottom: 2px solid #c61c2c;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 1.5em;
}

#logo {
  width: 165px;
  height: 90px;
  margin-left: -20px;
}

.views-field {
  float: none;
  width: 100%;
  page-break-inside: avoid;
  position: relative;
}

.views-field-field-address {
  float: none;
  margin: 0;
  position: absolute;
  display: inline;
  right: 0;
  text-align: right;
  margin-top: -52px;
  color: #91988e;
}

.street-block,
.locality-block,
.thoroughfare {
  display: inline;
}

.locality-block:before {
  content: ", ";
  display: inline;
}

.views-field-field-apart-floor-plan {
  width: 65%;
  float: left;
}

.views-field-field-apart-floor-plan .field-content,
.views-field-field-object-images .field-content {
  display: block;
  position: relative;
  overflow: hidden;
  page-break-inside: avoid;
}
.views-field-field-apart-floor-plan .field-content img,
.views-field-field-object-images .field-content img {
  margin-bottom: 1cm;
  display: block;
  page-break-inside: avoid;
  width: 100%;
  height: auto;
}

.views-field-field-apart-no {
  color: #cbc1ba;
  font-size: 1.3em;
}

.views-field-field-apart-living-space {
  padding: .5em .3em 1.5em .3em;
  display: table-cell;
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  border: 2px solid #cbc1ba;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 35%;
}
.views-field-field-apart-living-space .views-label {
  color: #cbc1ba;
  font-size: 11pt;
  font-weight: normal;
  bottom: 5px;
}

.views-field-field-apart-rooms {
  padding: .5em 1em 1.5em 1em;
  display: table-cell;
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #cbc1ba;
  border-bottom: 2px solid #cbc1ba;
  width: 15%;
}
.views-field-field-apart-rooms .views-label {
  color: #cbc1ba;
  font-size: 11pt;
  font-weight: normal;
  bottom: 5px;
  margin-left: -22%;
}

.views-field-field-apart-price {
  padding: .5em .3em 1.5em .3em;
  display: table-cell;
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  border: 2px solid #cbc1ba;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50%;
}
.views-field-field-apart-price .views-label {
  color: #cbc1ba;
  font-size: 11pt;
  font-weight: normal;
  bottom: 5px;
}

.views-field-field-apart-description {
  float: none;
  clear: both;
}

#leaflet-map {
  width: 100%;
  clear: both;
  float: none;
  position: static;
  bottom: 0;
  left: 0;
  page-break-inside: avoid;
}

img {
  border: 0;
}

.phone {
  string-set: phone content();
}
