/**
 *
 * Non panel layouts (one sidebar, two sidebars, none)
 *
 */

@import "base";

/*$site-max-width: 1200px;*/
$site-max-width: 100%;

#page {
  width: 100%;
  * {
    @include box-sizing(border-box);
  }
  .wrapper {
    @include breakpoint ($breakpoint-full-width) {
      padding: 0 20px;
    }
  }
  .container,
  .wrapper.main {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
  }
  .wrapper.navigation {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: 90px;
    z-index: 102;
    position: fixed;
    background: rgba(255,255,255,.9);
  }
}
/*.footer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    bottom: 0;
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 103;
    footer {
      width: 90%;
      margin: 0 auto;
      max-width: 1400px;
      position: relative;
    }
}*/
/*.wrapper.footer {
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
  }*/
body.front h1#page-title {
    display: none;
}

#header,
#content,
#navigation,
#highlighted,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  max-width: $site-max-width;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#header,
#main,
#footer {
  width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
#main {
  max-width: $site-max-width;
  margin: 60px auto 0 auto;
  padding: 20px 0 0 0;
}

/* LEFT SIDEBAR */

.sidebar-first {
  #content {
    @include col(3/4);
    @include shift(1/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include shift(-3/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

/* RIGHT SIDEBAR */

.sidebar-second {
  #content {
    @include col(3/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first, .region-sidebar-second {
    @include col(1/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

/* TWO SIDEBARS */

.two-sidebars {
  #content {
    @include col(2/4);
    @include shift(1/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include shift(-2/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-second {
    @include col(1/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}
