@import "base";
h1#page-title {
    font-weight: normal;
    border-bottom: 2px solid $primary;
  }
  .group-merkmale {
    border: 2px solid $secondary;
    @include border-radius($border-radius);
    float: right;
    width: 300px;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
.node-type-apartment {
  .ds-2col-stacked-fluid {
    .group-header {
      margin-bottom: -25px;
    }
    .group-left {
      margin-right: -316px;
      padding-right: 316px;
      width: 100%;
      float: left;
    }
    .group-right {
      float: right;
      width: 300px;
    }
  }
  .view-apartment {
    /*float: right;
    position: relative;
    width: 28%;
    position: relative;*/
    .leaflet-top {
      display: none;
    }
    .leaflet-container {
    height: 300px !important;
    width: 300px;
    position: static;
    }
  }
  .objekt-id, .field-name-field-apart-no {
    display: inline-block;
    color: $dark;
    font-weight: bold;
    margin-top: 1em;
  }
  .field-name-field-apart-commission {
    color: $dark;
    font-weight: normal;
    font-size: 14px;
    margin: .5em 0 1em 3px;
    .label-inline {
      font-weight: normal;
    }
  }
  .field-name-ds-flag-merken {
    a.flag {
      position: static;
      text-indent: 0;
      width: auto;
      color: $dark;
      padding: 0.5em 2.5em;
    }
  }
  .field-name-field-apart-living-space {
    .label-inline {
      color: $dark;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      bottom: 5px;
    }
    padding: .5em .3em 1.5em .3em;
    display: table-cell;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border: 2px solid $secondary;
    @include border-left-radius($border-radius);
  }
  .field-name-field-apart-rooms {
    .label-inline {
      color: $dark;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      bottom: 5px;

      margin-left: -22%;
    }
    padding: .5em 1em 1.5em 1em;
    display: table-cell;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid $secondary;
    border-bottom: 2px solid $secondary;
  }
  .field-name-field-apart-price {
    .label-inline {
      color: $dark;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      bottom: 5px;
    }
    padding: .5em .3em 1.5em .3em;
    display: table-cell;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border: 2px solid $secondary;
    @include border-right-radius($border-radius);
  }
  .apartaddress {
    right: 0;
    text-align: right;
    top: -50px;
    width: 100%;
  }
  .apartmerkmale {
    border: $border;
    @include border-radius($border-radius);
    padding: .5em 0;
    .views-field {
      padding: .2em .5em;
      .views-label {
        color: $dark;
        display: inline-block;
        width: 50%;
      }
      .field-content {
        display: inline;
        color: #000;
        font-weight: bold;
      }
    }
    .views-field:nth-of-type(odd) {
      background: #e3e5e3;
    }
  }
}
.ui-widget {
  font: 1em 'HelveticaNeueW01-45Ligh';
  line-height: 1.5;
}
.field-group-accordion {
  h3 {
    padding: 0;
    border: 0;
    background: $primary;
    @include border-radius($border-radius);
    .ui-icon {
      display: none !important;
      background: none !important;
      height: 0 !important;
    }
    > a:link {
      color: #fff;
      &:after {
        content: '\e808';
        font-family: 'hk';
        float: right;
        color: #fff;
      }
    }
  }
  h3.ui-state-active {
    a:after {
      transform: rotate(45deg);
    }
  }
  .field-group-accordion-active + .group-sonstiges {
    display: block;
  }
  .field-group-accordion-item {
    padding: 0;
    border: 0;
    height: auto !important;
  }
  .ui-accordion .ui-accordion-content {
    height: auto !important;
  }
}
.field-name-field-apart-floor-plan {
  float: left;
  width: 150px;
  margin: 5px 5px 0 5px;
  > a {
    display:none;
  }
  > a:first-child {
    display: block;
  }
}
#thumbslide {
  margin-left: 165px;
  img {
    margin: 0 5px;
    width: 150px;
  }
}