#colorbox {
  outline: 0;
  background: #fff;
  z-index: 10000;
  position: relative;
  overflow: visible;
  border: 4px solid $secondary;
  @include border-radius(10px);
  @include box-shadow($box-shadow);
}
// #cboxClose.cbox-close-plain::before {
//   font-family: "hk";
//   color: $secondary;
//   content: "î ‰";
//   display: inline-block;
//   font-size: 2.5em;
//     font-style: normal;
//     font-variant: normal;
//     font-weight: normal;
//     line-height: 1em;
//     margin-left: 0.2em;
//     margin-right: 0.2em;
//     text-align: center;
//     text-decoration: inherit;
//     text-transform: none;
//     width: 1em;
//     z-index: 10001;
// }

/* Anfrage in Colorbox */
#colorbox {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  tbody {
    border: 0;
  }
  td {
    padding: 0;
  }
  .field-multiple-drag {
    display: none;
  }
  #edit-field-contact-telefon-und-add-more {
    display: none;
  }
}
