/* Inquiry in Colorbox */
#block-crm-core-profile-ccp-anfrage {
  display: none;
}
#cboxLoadedContent #block-crm-core-profile-ccp-anfrage {
  display: block;
}
#edit-field-angefragte-wohnung-und-0-target-id--2 {
  background-image: none;
  background-color: #fff;
  color: #666;
  border: 0;
}
.form-item-field-angefragte-wohnung-und-0-target-id {
  label {
    display: inline;
  }
}

#colorbox {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  tbody {
    border: 0;
  }
  td {
    padding: 0;
  }
  .field-multiple-drag {
    display: none;
  }
  #edit-field-contact-telefon-und-add-more {
    display: none;
  }
}

/* Contact form */
.section-contact, .section-anfrage {
  fieldset, .field-name-field-activity-notes {
  max-width: 533px;
  }
  .field-name-field-e-mail {
    float: left;
    margin-right: 1em;
    width: 326px;
  }
  #edit-field-phone-und-0-value {
    width: 193px;
  }
}
.form-item-contact-name-und-0 {
  margin: 1.5em 0 0;
}
.form-item-contact-name-und-0-title,
.form-item-contact-name-und-0-given,
.form-item-contact-name-und-0-family {
  margin: 0;
}
.form-item-contact-name-und-0-title .select2-choice {
  height: 26px;
}
.form-item-field-crm-address-und-0-country .select2-choice {
  width: 275px;
}
.form-item-field-crm-address-und-0-premise {
  display: none;
}
