.footer {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
    position: relative;
    footer {
      margin-left: auto;
      margin-right: auto;
      max-width: 1400px;
      position: relative;
      width: 90%;
      img {
        float: left;
        margin: .5em 2em .5em 0;
      }
      .menu-footer {
        ul {
          float: left;
          margin: 0;
          padding: 0;
          li {
            float: left;
            a {
              color: #fff;
              font-weight: bold;
              padding: 0.5em 1em 1.5em;
              display: block;
              border-top: 4px solid transparent;
              &:hover {
                text-decoration: none;
                border-top: 4px solid #fff;
              }
            }

          }
        }
      }
  }
}
