.view-display-id-kaufen,
.page-mieten,
.view-merkliste {
  // .view-content {
  //   img {
  //     float: left;
  //     margin-right: 1em;
  //   }
  // }
  .views-row-even,
  .views-row-odd {
    float: left;
    width: 49%;
    // padding: .5em;
    margin-bottom: 1em;
    // background: #fff;
    // @include border-radius($border-radius);
    // @include box-shadow($box-shadow);
    // h2 {
    //   line-height: 1.2;
    //   font-size: 1em;
    //   margin: 0 40px 0 0;
    // }
  }
  .views-row-odd {
    float: right;
  }
  h2 {
    margin-top: 1em;
  }
  .field-name-field-apart-price {
    display: inline;
  }
  .field-name-field-apart-price::before {
    content: " / ";
  }
  .address {
    margin-top: 1em;
    i {
    font-size: 1.75em;
    margin-left: -15px;
    margin-top: -5px;
  }
    .apartaddress {
      display: inline-block;
      margin-left: .75em;
    }
  }

}
