@import "base";
.view-display-id-map_page {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}
.section-karte-solr .view-display-id-map_page {
  dislay: none;
}
.front .view-display-id-map_page {
  opacity: 1;
}
/* Karte Objekt */
.objectmap,
.page-node-expose {
  .leaflet-container {
    position: relative;
    height: 400px !important;
    clear: both;
  }
}
/* Karte Expose*/
.page-view {
  .leaflet-container {
    position: static;
  }
}
/* Karte Vollbild */
.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto !important;
}
#content {
  z-index: 101;
  position: relative;
}
.front #content {
  position: static;
}
.not-front {
  .view-display-id-map_page {
    opacity: .25;
    z-index: -1;
  }
  #main {
    margin-top: 2px;
    @include breakpoint($br-tablet) {
      margin-top: 40px;
    }
    margin-bottom: 100px;
    padding: 2em;
    z-index: 101;
    background: #fff;
    border-right: 2px solid $secondary;
    border-left: 2px solid $secondary;
    border-bottom: 2px solid $secondary;
  }
}
/* Handler positionieren */
.leaflet-top {
  top: 100px;
}
.objectmap .leaflet-top {
  top: 10px;
}
.leaflet-bottom {
  bottom: 65px;
}
.view-apartment .leaflet-bottom,
.objectmap .leaflet-bottom {
  bottom: 0px;
}
.view-apartment .leaflet-popup-content {
  width: 200px !important;
}

.ui-dialog {
  width: 640px !important;
  height: auto !important;
  border: 2px solid $secondary;
  .ui-dialog-titlebar {
    line-height: 0;
    padding: 0;
    .ui-dialog-titlebar-close {
        margin: -35px -12px 0 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
    }
  }
  .ui-dialog-content {
    overflow: hidden;
  }
  .ui-widget-header {
    background: #fff !important;
    border: 0 !important;
    .ui-icon-closethick {
      /*background: url(../images/Icon_x_Kreis.png) no-repeat scroll 0 0;*/
      /*@include sprite-sprite(Icon_x_Kreis);
      background-position: 80px 0 !important;*/
      @extend .sprite-Icon_x_Kreis;
      width: 40px;
      height: 40px;
    }
    .ui-icon-closethick:hover {
      @extend .sprite-Icon_x_Kreis_aktiv;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
    .ui-state-hover, .ui-state-focus {
      background: none;
      border: 0;
      color: transparent;
      border-radius: 0;
    }
  }
}
.ui-effects-transfer { border: 2px dotted gray; }

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
}
.views-exposed-form .views-exposed-widget {
  height: 2.5em;
}

.panel-3col-33-stacked .center-wrapper {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    margin-top: 600px;
    position: relative;
    float: left;
    z-index: 5;
    padding: 0 1em;
}
.leaflet-container a.leaflet-popup-close-button {
    background: $secondary;
    color: #fff;
    font: bold 25px/1em Tahoma,Verdana,sans-serif;
    height: 28px;
    padding: 0 0 29px;
    position: absolute;
    right: -12px;
    text-align: center;
    text-decoration: none;
    top: -12px;
    width: 28px;
    z-index: 1;
    @include border-radius(25px);
    &:hover {
      color: $primary;
    }
}
.leaflet-popup-content-wrapper,
.group-card {
    @include border-radius($border-radius);
    border: 2px solid $primary;
    padding: .5em;
    position: relative;
    text-align: left;
    background: #fff;
}
.group-card {
  border: 2px solid $secondary;
  overflow-y: hidden;
}
.group-card:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
    h2 {
        font-size: 1em;
        line-height: 1.2;
        margin: 0;
    }
    h3 {
      a {
        color: #000;
      }
    }
    img {
      float: left;
      margin-right: 1em;
    }
.leaflet-popup-content {
    line-height: 1.4;
    margin: 0;
    display: table;
    width: 550px !important;
    h2 {
      margin-right: 1em;
      display: none;
    }
    .right {
      margin: 0 1em;
    }
    a {
      color: $primary;
      &:visited {
        color: $dark;
      }
    }
    p:first-of-type {
      margin-top: 0 !important;
    }
    .wo {
      float: left;
      clear: both;
      width: 100%;
      margin: .5em 0;
      i {
        font-size: 1.6em;
        line-height: 1;
        margin: -0.15em 0.5em 0 -0.5em;
      }
    }
    button.toggle {
      padding-right: .5em;
      &::after {
          color: #fff;
          content: "î ˆ";
          float: right;
          font-family: "hk";
          line-height: 1.2;
          width: 20px;
        }
    }
    button.hide::after {
        transform: rotate(45deg);
      }

    .apart {
      color: $black;
      display: table;
      float: left;
      width: 100%;
      clear: right;
      &:nth-child(odd) {
        background: $grey;
      }
      span {
        display: table-cell;
        width: 20%;
        padding: 0.5em 1em 0.5em 0;
        .id {
          padding-left: 3px !important;
        }
    }
  }
  .tablehead {
    display: table;
    float: left;
    width: 100%;
    span {
      display: table-cell;
      width: 20%;
      padding: 0.5em 1em 0.5em 0;
    }
  }
}
/* MarkerCluster overriding libraries/leaflet_markecluster/dist/MarkerClusterDefault.css*/

.marker-cluster,
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large,
.marker-cluster-xlarge {
  background: none;
  border-radius: 0;
  background: none;
}
.marker-cluster div,
.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div,
.marker-cluster-xlarge div {
 width: 32px;
  height: 42px;
  margin-left: 0;
  margin-top: 0;
  /*background: url("/sites/all/themes/hk_theme/icons/markers/Icon_House2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  /*@include sprite-sprite(Icon_House2);
  background-position: 362px 0 !important;*/
  @extend .sprite-Icon_House2;
  text-align: center;
  border-radius: 0;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 11px;
}
.marker-cluster-small span,
.marker-cluster-medium span,
.marker-cluster-large span,
.marker-cluster-xlarge span {
    background: #fff;
    @include border-radius (15px);
    color: $primary;
    left: 18px;
    margin-top: 15px;
    height: 20px;
    width: 20px;
    line-height: 1.7;
    text-align: center;
    /*padding: 2px 5px;*/
    position: absolute;
    top: 16px;
}
.marker-cluster-small span:nth-child(1) {
  display: none;  /* Zeigt eh nur die Objekte an, nicht die Wohnungen */
}

/* Search Form */
#block-views-exp-karten-kaufen,
#block-views-exp-karten-map-page,
.view-filters {
    left: 0;
    position: relative;
    top: 0;
    z-index: 112;
    margin-left: 2em;
}

.section-apartment #block-views-exp-karten-kaufen,
.section-users #block-views-exp-karten-kaufen {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  margin-left: 0;
}

/* Rik de Boer */
.leaflet-tagged-marker div {
  background: #fff;
  height: 20px;
  width: 20px;
  min-width: 20px;
  line-height: 1.9;
  position: absolute;
  @include border-radius(25px);
  &.tag-below-marker {
      color: $primary;
      top: -12px;
      left: 3px;
  }
}

/* Make the cluster population "footprint" outline pale transparent white,
   with a thin red border. Change this to your heart's content.
*/
.leaflet-overlay-pane > svg.leaflet-zoom-animated > g > path.leaflet-clickable {
  fill: #fff;
  fill-opacity: 0.2;
  stroke: $primary;
  stroke-opacity: 1;
  stroke-width: 1;
  stroke-linecap: round; /* butt | square */
  stroke-linejoin: round; /* miter | bevel */
}
