@import "base";
.field .field-label {
    font-weight: 500;
}
.group-card {
  position: relative;
  margin-bottom: 1em;
  @include box-shadow($box-shadow);
}
.page-projekte {
  .flexslider {
    width: 100%;
    float: left;
  }
}
.node-type-objekt {
  .flexslider {
    width: 74%;
    float: left;
  }
  #thumbslide {
    margin-left: 0;
  }
  .icon-hk-icon-location::before {
    font-size: 1.6em;
    line-height: 0.75;
    margin-left: -0.3em;
    margin-right: 0;
  }
}
  .group-text {
    clear: left;
  }
  .field-name-field-obj-apartments {
    margin-top: 1.5em;
    .field-items {
      margin-top: .5em;
    }
    .field-item {
      float: left;
      width: 45%;
      margin-right: 5%;
    }
    .field-item.odd {
      margin-right: 0;
      margin-left: 5%;
    }
    .field-name-field-apart-living-space,
    .field-name-field-apart-price {
      display: inline;
    }
    .field-name-field-apart-living-space:after {
      content: " / ";
    }
  }
.group-card-project {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    @include border-radius($border-radius);
    background-color: #fff;
    border: 1px solid #ddd;
    color: #444;
    margin: .5rem;
    padding: .5rem;
    position: relative;
    h3 {
      font-size: 1em;
      margin: .5rem 0 0;
    }
  }
  .group-project-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    @include border-radius($border-radius);
    background-color: #fff;
    border: 1px solid #ddd;
    color: #444;
    margin: .5rem;
    float: left;
    position: relative;
    width: 30%;
    h2 {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
        color: #fff;
        display: block;
        margin-top: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 10;
        line-height: 1.2;
        font-weight: normal;
        a {
          color: #fff;
          display: block;
          padding: 1em .5em;
          &:hover {
            color: $black;
            background: rgba(255,255,255,.6);
            text-decoration: none;
          }
        }
    }
    .group-card-content {
      padding: .5rem;
    }
  }
aside.group-merkmale {
  padding: 0;
}
aside.group-merkmale .field {
  padding: 0.2em 0.5em;
}
aside.group-merkmale .field:nth-of-type(2n+1) {
    background: none repeat scroll 0 0 $rowgrey;
}
aside.group-merkmale .label-above,
aside.group-merkmale .label-inline,
aside.group-merkmale .field-label {
    color: $dark;
    font-weight: normal;
    display: inline-block;
    width: 50%;
}
