div.krumo-root {
  z-index: 112 !important;
}

/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/* Warm grey von Natascha, war #d1d3d2 */
/* Dunkelgrau von Natascha */
/* Rot von Natascha */
/* Light warm grey von Natascha */
/* Schriftfarbe von Natascha */
/***********
~BREAKPOINTS
***********/
/***********
~MIXINS
***********/
@media (min-width: 768px) {
  html, body {
    height: 100%;
  }

  #page {
    min-height: 100%;
  }

  #main {
    overflow: auto;
  }
}
@media (min-width: 768px) {
  #main {
    padding-bottom: 65px;
  }
}

/* must be same height as the footer */
footer {
  position: relative;
  clear: both;
}
@media (min-width: 768px) {
  footer {
    margin-top: -65px;
    /* negative value of footer height */
    height: 65px;
    margin-top: -65px;
    /* negative value of footer height */
    height: 65px;
  }
}
@media (min-width: 768px) {
  footer .block {
    padding: 0 20px;
  }
}

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

.ie7 #page {
  display: table;
  height: 100%;
}
